@charset "UTF-8";

/*common element*/
input, select, textarea{
	height:48px;
	border:1px solid #f1f3f5;
}

button{
	height:48px;
}

.section-top-bg{
	background-image:url("/img/awning/awning.png");
	background-position:center;
	background-repeat:no-repeat;
	width:100%;
	height:300px;
	background-size:cover;
	position:relative;
}

.section-top-bg h2{
	position:absolute;
	top :50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.flex-ui {
	display:flex;
	align-items:center;
	justify-content:center;
}

.flex-ui span{
	display:inline-block;
	margin-left:12px;
	margin-right:12px;
}


/* 1대1 문의 */

.inquitry-top-bg{
	background-image:url("/img/inquiry/inquiry.png");
}

<<<<<<< HEAD
.li dropdown{
	content: "";
}
=======
.insert-estimate .colorPa{
	width:100%;
	padding-top:100%;
	height:auto;
}

.colorPa.clicked{
	border:1px solid red;
}

.insert-estimate .colorPa{
	position:relative;
}

.checked-color{
	width:24px;
	height:24px;
	display:none;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

/*회원가입페이지 */
.join-logo{
	width:300px;
}

>>>>>>> refs/heads/khj
