<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

	<th:block layout:fragment="customContents">
		<section class="section-top-bg"></section>
		<section id="about" class="about">
			<div class="container">
	
				<div class="row content">
					<div class="col-lg-6">
						<h2>어닝 색상표</h2>
						<h3></h3>
					</div>
					<div class="col-lg-6 pt-4 pt-lg-0">
						<ul>
							<li><i class="ri-check-double-line"></i> 사용소재 : 100% 폴리에스터</li>
							<li><i class="ri-check-double-line"></i> 초발수 가공처리품</li>
							<li><i class="ri-check-double-line"></i> 방수 강화 제품</li>
							<li><i class="ri-check-double-line"></i> UV차단 처리 제품</li>
							<li><i class="ri-check-double-line"></i> 방염가공 제품</li>
							<li><i class="ri-check-double-line"></i> 백화현상 방지 제품</li>
							<li><i class="ri-check-double-line"></i> 고속 건조 제품</li>
						</ul>
						<p class="fst-italic"></p>
					</div>
				</div>
			</div>
		</section>

	</th:block>
</html>