<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
	
	<th:block layout:fragment="customContents">
		<section class="section-top-bg"></section>
		<section>
			<div class="container">
				<div class="row"><!-- 이름 상호명 이메일 주소 핸드폰번호 -->
					<div class="col-lg-6 offset-lg-3">
						<h1>견적 신청 하기 </h1>
						<div class="mt-5">
							<label for="basic-url">이름</label>
							<div class="input-group mt-1 mb-4">
								<input type="text" class="form-control" placeholder="이름"
									aria-describedby="basic-addon3">
							</div>
						</div>
						
						<div class="mt-1">
							<label for="basic-url">주택/상가</label>
							<div class="input-group mt-1 mb-4">
								<input type="text" class="form-control" placeholder="주택/상가"
									aria-describedby="basic-addon3">
							</div>
						</div>
						
						<div class="mt-1">
							<div class="form-group">
							    <label for="exampleFormControlSelect1">어닝 종류</label>
							    <select class="form-control form-select mt-1 mb-4" id="exampleFormControlSelect1">
							      <option>접이식어닝</option>
							      <option>고정식어닝</option>
							      <option>포리그라스</option>
							      <option>간판어닝</option>
							    </select>
							</div>
						</div>
						<div class="form-group mt-1">
						  <label for="exampleFormControlFile1">건물 사진<small>건물 전면에서 촬영</small></label>
						  <input type="file" class="form-control-file mt-1" id="exampleFormControlFile1">
						</div>			
						<div class="mt-1">
							<label for="basic-url">이메일</label>
							<div class="input-group mt-1 mb-4">
								<input type="text" class="form-control" placeholder="이메일"
									aria-describedby="basic-addon3">
							</div>
						</div>
						
						<div class="mt-1">
							<label for="basic-url">가로 X 세로 사이즈</label>
							<div class="input-group mt-1 mb-4 flex-ui">
								<input type="text" class="form-control" placeholder="cm"
									aria-describedby="basic-addon3">
								<span style="margin:0 12px;">X</span>
								<input type="text" class="form-control" placeholder="cm"
								aria-describedby="basic-addon3">
							</div>
							
						</div>
						
						<div class="mt-1">
							<label for="basic-url">주소</label>
							<div class="input-group mt-1 mb-4">
								<input type="text" id="address_kakao" name="address" class="form-control" placeholder="주소"
									aria-describedby="basic-addon3">
								
							</div>
						</div>
						<div class="mt-1">
							<label for="basic-url">상세 주소</label>
							<div class="input-group mt-1 mb-4">
								<input type="text" class="form-control" name="address_detail" />
							</div>
						</div>
						
						<div class="mt-1">
							<label for="basic-url">핸드폰번호</label>
							<div class="input-group mt-1 mb-4">
								<input type="text" class="form-control" placeholder="'-' 없이 0109244804"
									aria-describedby="basic-addon3">
							</div>
						</div>
												
						<div class="row colorAll insert-estimate">
							<label class="col-lg-12 mb-1">원단색상표</label>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9140.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9140</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9141.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9141</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9103.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9103</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9102.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9102</p>
							</div>
							
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.6157.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.6157</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9800.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9800</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9882.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9882</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9962.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9962</p>
							</div>
							
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9991.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9991</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9300.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9300</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9305.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9305</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9381.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9381</p>
							</div>
							
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.6315.png')">
									<img src="/img/icon/checked.png" class="checked-color">	
								</div>
								<p>NO.6315</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9478.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9478</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9468.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9468</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9398.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9398</p>
							</div>
							
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9399.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9399</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9931.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9931</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9640.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9640</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9642.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9642</p>
							</div>
							
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9605.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9605</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9501.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9501</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9651.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9651</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.6634.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.6634</p>
							</div>
							
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9257.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9257</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9237.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9237</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9611.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9611</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9716.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9716</p>
							</div>
							
							
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9717.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9717</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9722.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9722</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9796.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9796</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9740.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9740</p>
							</div>
							
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9718.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9718</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.6932.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.6932</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.6479.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.6479</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9615.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9615</p>
							</div>
							
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9257.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9257</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9150.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9150</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9994.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9994</p>
							</div>
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9142.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9142</p>
							</div>
							
							<div class="col-lg-3 color-list">
								<div class="colorPa" style="background-image:url('/img/color/NO.9644.png')">
									<img src="/img/icon/checked.png" class="checked-color">
								</div>
								<p>NO.9644</p>
							</div>
						</div>
						
						<button type="button" class="btn btn-primary w-100">견적 신청하기</button>
						
					</div>
				</div>
			</div>
		</section>
		
		<script>
		$(function(){
			$('.colorPa').click(function(){
				$('.checked-color').css('display','none');
				$(this).children('.checked-color').css('display','block');
			})
		})
		</script>
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script>
		window.onload = function(){
		    document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
		        //카카오 지도 발생
		        new daum.Postcode({
		            oncomplete: function(data) { //선택시 입력값 세팅
		                document.getElementById("address_kakao").value = data.address; // 주소 넣기
		                document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
		            }
		        }).open();
		    });
		}
		</script>
	</th:block>
</html>