<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
	<!-- 하단메뉴 -->
	<div id="footer" th:fragment="footerFragment">
		<!-- ======= Footer ======= -->
	
		<div class="container">
	
			<div class="copyright">
				<div class="footer-top">
						<div class="footer-info">
							<div class="social-links mt-3">
								<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> <a
									href="#" class="facebook"><i class="bx bxl-facebook"></i></a> <a
									href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
								<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
								<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
							</div>
						</div>
				</div>
				<div class="address">
					<strong>클래식어닝</strong> <span>|</span> 대표자 : 김성훈 <span|></span>
					010-9866-7804  010-8517-4661 <span>|</span> 사업자등록번호 : 404-51-00276
					<span>|</span> 상표특허 : 40-1744066호
					<span>|</span> 주소 : 전북 김제시 용지면 금백로 1089 <span></span>© <strong>클래식어닝</strong>.
					All rights reserved.
				</div>
			</div>
	
			<div class="credits">
				<!-- All the links in the footer should remain intact. -->
				<!-- You can delete the links only if you purchased the pro version. -->
				<!-- Licensing information: https://bootstrapmade.com/license/ -->
				<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
				<!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
			</div>
		</div>
	</div>
	<!-- End Footer -->
</html>