<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
	<!--admin page head 조각 -->
	<head th:fragment="headFragment">
	<meta charset="UTF-8">
	
	<!-- 사용자 정의 css -->
	<th:block layout:fragment="customCss">
		<link href="/css/custom.css" rel="stylesheet">
		
		<!-- 카카오 주소 api -->
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script>
		    new daum.Postcode({
		        oncomplete: function(data) {
		            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
		            // 예제를 참고하여 다양한 활용법을 확인해 보세요.
		        }
		    }).open();
		</script>
		<!-- Favicons -->
		<link href="/img/favicon.png" rel="icon">
		<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
		
		<!-- Vendor CSS Files -->
		<link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
		<link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
		<link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
		<link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
		<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
		
		<!-- Template Main CSS File -->
		<link href="/css/style.css" rel="stylesheet">
	</th:block>
	
	<!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
	
	</th:block>
	
	<!-- 사용자 정의 JS FILE -->
	<th:block layout:fragment="customTopJs">
		<!-- Vendor JS Files -->
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/vendor/glightbox/js/glightbox.min.js"></script>
		<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
		<script src="/vendor/swiper/swiper-bundle.min.js"></script>
		<script src="/vendor/waypoints/noframework.waypoints.js"></script>
		<script src="/vendor/php-email-form/validate.js"></script>
		
		<!-- Template Main JS File -->
		<script src="/js/main.js"></script>
	</th:block>
	
	
	<title>Insert title here</title>
	</head>
<body>

</body>
</html>