<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- 사용자 정의 타이틀 설정 -->
	<th:block layout:fragment="customTitle">
		<title>${title}</title>
	</th:block>

	<th:block layout:fragment="customContents">
		<div style="padding-top:80px;">
			<form id="addMemberForm" th:action="@{/member/join}" method="post">
				<div class="container">
					<div class="row">
						<div class="col-md-4 offset-md-4">
							<a href="/">
								<img src="/img/logo/classicawning_logo.png" class="join-logo">
							</a>
							
						  <div class="form-group">
						    <label for="exampleInputEmail1">Email address</label>
						    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						  </div>
							
						</div>
					</div>
				</div>
								
			</form>		
		</div>	
		
	</th:block>
</html>